<div id="step1">
  <p>画面の上部にある「許可」をクリックして、ウェブカメラとマイクから通話にアクセスできるようにしてください</p>
  <div id="step1-error">
    <p>ウェブカメラとマイクにアクセスできませんでした。このデモをhttpサーバで実行し、ブラウザの許可を求められたら許可をクリックしてください</p>
    <a href="#" class="pure-button pure-button-error" id="step1-retry">Try Again</a>
  </div>
</div>
