<div class="select">
  <label for="audioSource">Audio: </label><select id="audioSource" class="form-control"></select>
</div>
<div class="select">
  <label for="videoSource">Video: </label><select id="videoSource" class="form-control"></select>
</div>
