<h1>About</h1>
<ul>
  <li>1. <%=  link_to 'Topページ', root_path %>の自分(you)の`Your id`をコピーして電話したい相手(friend)に伝える</li>
  <li>2. (friend)は(you)のidを`フォーム`に貼り付ける</li>
  <li>3. お互いマイクとカメラを許可したら繋がります！！</li>
</ul>
