<h1>Whiske</h1>
<h2>Call something</h2>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdn.webrtc.ecl.ntt.com/skyway-latest.js"></script>
<%= render 'script' %>
<div class="pure-g">
  <!-- Video -->
  <div class="pure-u-2-3" id="video-container">
    <video id="their-video" autoplay></video>
    <video id="my-video" muted="true" autoplay></video>
  </div>
  <!-- Steps -->
  <div class="pure-u-1-3">
    <h2>Video Chat</h2>
    <!-- Get local audio/video stream -->
    <%= render 'permit_camera_audio' %>
    <!-- Make calls to others -->
    <div id="step2">
      <%= render 'clipboard' %>
      <br>
      <form id="make-call" class="pure-form">
        <input type="text" placeholder="Friend's id .." id="callto-id">
        <button href="#" class="pure-button pure-button-success" type="submit">Call</button>
      </form>
    </div>
    <%= render 'select_audio_video' %>
    <!-- End Call -->
    <div id="step3">
      <p>Currently in call with <span id="their-id">...</span></p>
      <p><a href="#" class="pure-button pure-button-error" id="end-call">End call</a></p>
    </div>
  </div>
</div>
